# Assignment 2 - GroupBy

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. 
User ***Jupyter Lab*** to view ``../../DATA/drinks.cvs``.

### Step 3. Assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv('DATA/drinks.csv')

### Step 4. Which continent drinks the most beer on average?

In [3]:
beer = drinks.groupby(by='continent').mean()
beer.loc[beer['beer_servings']==beer['beer_servings'].max()]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
EU,193.777778,132.555556,142.222222,8.617778

### Step 5. For each continent print the statistics for wine consumption.

In [4]:
drinks[['continent','wine_servings']].pivot(columns='continent').describe()

          wine_servings                                                 \
continent           NaN          AF          AS          EU         OC
count         23.000000   53.000000   44.000000   45.000000   16.00000
mean          24.521739   16.264151    9.068182  142.222222   35.62500
std           28.266378   38.846419   21.667034   97.421738   64.55579
min            1.000000    0.000000    0.000000    0.000000    0.00000
25%            5.000000    1.000000    0.000000   59.000000    1.00000
50%           11.000000    2.000000    1.000000  128.000000    8.50000
75%           34.000000   13.000000    8.000000  195.000000   23.25000
max          100.000000  233.000000  123.000000  370.000000  212.00000


continent          SA
count       12.000000
mean        62.416667
std         88.620189
min          1.000000
25%          3.000000
50%         12.000000
75%         98.500000
max        221.000000

### Step 6. Print the mean alcoohol consumption per continent for every column

In [5]:
drinks.groupby(by='continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. Print the median alcoohol consumption per continent for every column

In [6]:
drinks.groupby(by='continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [7]:

pd.DataFrame(drinks['spirit_servings'].agg([np.min,np.max,np.mean,np.sum,np.std]))

      spirit_servings
amin         0.000000
amax       438.000000
mean        80.994819
sum      15632.000000
std         88.284312